.line {
  display: none;
  position: absolute;
  top: -42px;
  left: 0;
  right: 0;
  width: 100%;
  height: 349px;
  fill: none;
  stroke: #647ce9;
  stroke-linecap: round;
  stroke-width: 6px;
}

@media (min-width: 1200px) {
  .line {
    display: block;
  }
}
