.container {
  padding-left: 32px;
  padding-right: 32px;
}

.header .container {
  display: flex;
  align-items: center;
  padding-top: 45px;
  padding-bottom: 45px;
}

.headerBuy {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-left: 89px;
  width: 106px;
  height: 106px;
  border-radius: 50%;
  font-family: "Oswald";
  font-weight: 700;
  font-size: 34px;
  line-height: 1.47;
  text-transform: uppercase;
  color: #ffffff;
  transform: rotate(19.5deg);
  background-color: #f54329;
}

.heroPlatformsText {
  margin-top: 12px;
}

.heroImgContainer {
  position: relative;
  width: 476px;
  height: 710px;
}

.heroMask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../images/hero-img-desk-1x.jpg");
  mask-image: url("../../images/hero-mask.png");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: cover;
}
