.navList {
  display: none;
  gap: 40px;
  font-size: 18px;
  line-height: 1.16;
  text-align: center;
}

@media (min-width: 768px) {
  .navList {
    display: flex;
    gap: 22px;
    margin-left: auto;
    font-size: 17px;
    text-align: initial;
  }
}

@media (min-width: 1200px) {
  .navList {
    gap: 79px;
  }
}

.navItem {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
}

.navItem:hover {
  border-color: #000000;
}
