.buyBtn {
  display: none;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 106px;
  height: 106px;
  border-radius: 50%;
  border: unset;
  font-family: "Oswald";
  font-weight: 700;
  font-size: 34px;
  line-height: 1.47;
  text-transform: uppercase;
  color: #ffffff;
  transform: rotate(19.5deg);
  background-color: #f54329;
}

.buyBtnAnimation {
  animation-name: buyBtnAnimation;
  animation-duration: 1s;
  animation-timing-function: linear;
}

@media (min-width: 768px) {
  .buyBtn {
    display: flex;
    margin-left: 26px;
    width: 90px;
    height: 90px;
    font-size: 30px;
  }
}

@media (min-width: 1200px) {
  .buyBtn {
    margin-left: 79px;
    width: 106px;
    height: 106px;
  }
}

@keyframes buyBtnAnimation {
  0% {
    transform: rotate(19.5deg) scale(1);
  }
  50% {
    transform: rotate(0deg) scale(1.1);
  }
  100% {
    transform: rotate(19.5deg) scale(1);
  }
}
